@model IEnumerable<SupermercadoWeb.Models.Clientes>

@{
    ViewData["Title"] = "Listado de Clientes";
}

<h2>Listado de Clientes</h2>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Email</th>
            <th>Teléfono</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var cliente in Model)
        {
            <tr>
                <td>@cliente.Id</td>
                <td>@cliente.Nombre</td>
                <td>@cliente.Email</td>
                <td>@cliente.Telefono</td>
            </tr>
        }
    </tbody>
</table>
